<!DOCTYPE html>
<html lang="en" data-theme="forest">
  <head>
    {% include "head.html" %}
    <title>Showcases</title>
  </head>
  <body>
    {% include "navbar.html" %}
    <main class="p-8 md:p-16 grid gap-8">
      <section>
        <h3 class="text-4xl mb-4 text-secondary font-bold" id="railway-api">
          Railway Api
        </h3>
        <div class="grid gap-8 grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
          <img
            src="/assets/images/showcases/railway-api-1.png"
            class="max-h-96"
          >
          <img
            src="/assets/images/showcases/railway-api-2.png"
            class="max-h-96"
          >
          <img
            src="/assets/images/showcases/railway-api-3.png"
            class="max-h-96"
          >
        </div>
      </section>
      <div class="divider"></div>
      <section>
        <h3 class="text-4xl mb-4 text-secondary font-bold" id="railway-query">
          Railway Query
        </h3>
        <div>
          <img
            src="/assets/images/showcases/railway-api-frontend-3.png"
            class="inline max-h-96 m-4"
          >
          <img
            src="/assets/images/showcases/railway-api-frontend-4.png"
            class="inline max-h-96 m-4"
          >
          <img
            src="/assets/images/showcases/railway-api-frontend-1.png"
            class="inline max-h-96 m-4"
          >
          <img
            src="/assets/images/showcases/railway-api-frontend-2.png"
            class="inline max-h-96 m-4"
          >
        </div>
      </section>
      <section>
        <h3 class="text-4xl text-secondary font-bold" id="api-railway">
          api-railway npm package
        </h3>
        <div class="grid gap-8 grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
          <img
            src="/assets/images/showcases/railway-api-npm-1.png"
            class="max-h-96"
          >
        </div>
      </section>
    </main>
    {% include "footer.html" %}
  </body>
</html>
